ECHO is on.
.metadata/.lock
.metadata/.log
.metadata/.plugins/org.eclipse.core.resources/.history/f5/306448171ed600131ec18a99b2357cc9
.metadata/.plugins/org.eclipse.core.resources/.projects/SettlersOfCatan/.indexes/af/history.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SettlersOfCatan/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.projects/SettlersOfCatan/.markers
.metadata/.plugins/org.eclipse.core.resources/.projects/SettlersOfCatan/org.eclipse.egit.core/GitProjectData.properties
.metadata/.plugins/org.eclipse.core.resources/.projects/SettlersOfCatan/org.eclipse.jdt.core/state.dat
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/history.version
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.index
.metadata/.plugins/org.eclipse.core.resources/.root/.indexes/properties.version
.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
*.resources
*.prefs
.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
*.index
.metadata/.plugins/org.eclipse.jdt.core/externalLibsTimeStamps
.metadata/.plugins/org.eclipse.jdt.core/invalidArchivesCache
.metadata/.plugins/org.eclipse.jdt.core/javaLikeNames.txt
.metadata/.plugins/org.eclipse.jdt.core/nonChainingJarsCache
*.dat
*.xml
*.png
.metadata/.plugins/org.eclipse.jdt.core/savedIndexNames.txt
.metadata/.plugins/org.eclipse.pde.core/.cache/clean-cache.properties
.metadata/version.ini
SettlersOfCatan/.classpath
SettlersOfCatan/.project
*.history

*.class

*.class

*.class

SettlersOfCatan/src/HumanPlayer.class

*.class

SettlersOfCatan/src/TownNode.class

*.class

*.class
*.launch
